.table-custom {
  tr {
    cursor: pointer;
  }
  thead {
    th {
      font-weight: normal;

      &:hover {
        background-color: $hover-color;
      }

      &:first-child {
        text-align: right;
      }
    }
  }

  tbody {
    td {
      &:first-child {
        text-align: right;
      }
    }
  }

  .td-name {
    .name-value {
      display: inline-flex;
      align-items: center;
      position: relative;
    }

    .name-icon {
      position: absolute;
      left: -0.5rem;
      top: -0.2rem;
      font-size: 10px;
      color: $ms-primary-pink;
    }
  }

  .td-content {
    color: $font-color-light;
  }

  @media (max-width: 768px) {
    thead {
      display: none;
    }

    .td-content {
      color: black;
    }

    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }

    tr {
      margin-bottom: 32px;
      border: 1px solid #e1dfdd;
    }

    td {
      display: grid;
      grid-template-columns: 35% 1fr;
      word-break: break-word;
    }

    td::before {
      content: attr(data-label);
      font-weight: bold;
      color: $font-color-light-black;
      font-style: italic;
      font-family: Arial, sans-serif;
    }

    td:first-child {
      background: $ms-light-gray;
      display: flex;
      justify-content: space-between;
    }
    td:last-child {
      display: none;
    }

    .td-name {
      .name-value {
        display: inline-flex;
        align-items: flex-start;
        gap: 2px;
      }
      .name-icon {
        position: static;
        font-size: 10px;
        color: $ms-primary-pink;
      }
    }
  }
}
