.table-custom {
  .row-select {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
  }

  th,
  td {
    vertical-align: middle;
  }

  tr {
    cursor: pointer;
  }

  thead {
    tr {
      border-bottom: 1px solid #000000;
    }

    th {
      font-weight: normal;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  tbody {
    td {
      &:nth-child(2) {
        text-align: right;
      }
    }
  }

  .td-name {
    .name-value {
      display: inline-flex;
      align-items: center;
      position: relative;
    }

    .name-icon {
      position: absolute;
      left: -0.5rem;
      top: -0.2rem;
      font-size: 10px;
      color: $ms-primary-pink;
    }
  }

  .td-content {
    color: $font-color-light;
  }

  @media (max-width: 768px) {
    .row-select {
      width: 1.25rem;
      height: 1.25rem;
    }

    thead {
      display: none;
    }

    .td-content {
      color: black;
    }

    tbody,
    tr,
    td {
      display: block;
      width: 100%;
    }

    tr {
      margin-bottom: 2rem;
      border: 1px solid #e1dfdd;
    }

    td {
      display: grid;
      grid-template-columns: 35% 1fr;
      word-break: break-word;
    }

    td::before {
      content: attr(data-label);
      font-weight: bold;
      color: $font-color-light-black;
      font-style: italic;
      font-family: Arial, sans-serif;
    }

    td.table-state-cell {
      display: block !important;
      width: 100%;
    }

    td:first-child {
      display: none;
    }
    td:nth-child(2) {
      background: $ms-light-gray;
      display: flex;
      justify-content: space-between;
    }
    td:last-child {
      display: none;
    }

    .td-name {
      .name-value {
        display: inline-flex;
        align-items: flex-start;
        gap: 2px;
      }
      .name-icon {
        position: static;
        font-size: 10px;
        color: $ms-primary-pink;
      }
    }
  }
}
