// Typography Rules
body {
  font-family: $font-family;
  font-size: $font-size !important;
}

#document-breadcrumb-title {
  a {
    padding: 2px 6px;
    border-radius: 4px;

    &:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}